#heading {
    color: brown;
}
.title{
    color:blue;
}
.heading{
    color:brown;
}
.image{
    float: left;
    margin-right: 150px;
}
.user{
    display: flex;
    float: right;
}
header {
    text-align: center;
  }

  .search-bar {
    margin: 20px auto;
    max-width: 400px;
  }
  
  .search-bar input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  }
  
  .search-bar button {
    width: 30%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }